/* All names */

@import "1-photos";

$list-names: julien, john, sam, damian;
$photo-prefix: "photo";

@each $name in $list-names {
    .photo-#{$name} {
        background-image: url("images/#{$name}.jpg");
    }
}