/*Nested hover*/

$font-size: 12px;
$color: 00FF00;
$color1: FF0000;

.info {
    font-size: $font-size;
}

.success {
    @extend .info;
    color: $color;
}

.warning {
    @extend .info;
    color: $color1;
}